<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <script src="https://static.elfsight.com/platform/platform.js" async></script> <div class="elfsight-app-e3a3f102-2da2-441a-8f95-1af877a13428" data-elfsight-app-lazy></div>
    <!-- Boxicons -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/css/niyu.css" />
    <title>Contact</title>
    <link rel="icon" href="/images/first.jpeg">
  </head>
  <body>
    <!-- Navigation -->
    <!-- <div class="top-nav">
      <div class="container d-flex">
        <p>Order Online Or Call Us: (001) 2222-55555</p>
        <ul class="d-flex">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div> -->
    <div class="navigation">
      <div class="nav-center container d-flex">
        <!-- <a href="/" class="logo"><h1>LyContainers</h1></a> -->

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="/home" class="nav-link">Container for Home</a>
          </li>
          <li class="nav-item">
            <a href="/shop" class="nav-link">Container for Shop</a>
          </li>
        
          <li class="nav-item">
            <a href="/event" class="nav-link">Container for Event</a>
          </li>

          <li class="nav-item">
            <a href="/both" class="nav-link">Containers</a>
          </li>

          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/cart" class="nav-link">Cart</a>
          </li>
          <li class="icons d-flex">
         
            
            <a href="/cart" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex"><%= cartItemCount %> </span>
            </a>
          </li>
        </ul>

        <div class="icons d-flex">
          
          
          <a href="/cart" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex"><%= cartItemCount %></span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>
    <!-- Login -->
    <div class="container">
      <div class="login-form">
        <form action="/send-email" method="post">
          <h1>Send Us An Email</h1>
         
          <label for="fullname">Full Name</label>
          <input type="text" placeholder="Enter Fullname" id="fullname" name="fullname" required />


          <label for="email">Email</label>
          <input type="email" placeholder="Enter Email" id="email" name="email" required />

          <label for="message">Message</label>
          <input type="text" placeholder="Enter Message" id="message" name="message" required />

         

          <div class="buttons">
            <button type="submit" class="signupbtn">Send</button>
          </div>
        </form>
      </div>
    </div>

     <!-- Footer -->
  <footer class="footer">
    <div class="row">
      <div class="col d-flex">
        <h4>our branches</h4>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Indionesia </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Japan </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Russia </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
      </div>
      <div class="col d-flex">
        <h4>quick links</h4>
        <a href="/"> <i class="fas fa-arrow-right"></i> Home </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Trucks </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Services </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Featured </a>
        <a href="#"> <i class="fas fa-arrow-right"></i> Reviews </a>
        <a href="/buy.html"> <i class="fas fa-arrow-right"></i> Contact </a>
      </div>

      <div class="col d-flex">
        <h4>contact info</h4>
        <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="mailto:ooo@gmail.com"> <i class="fas fa-envelope"></i> vibrvester@gmail.com</a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> City - USA - 000000 </a>
      </div>

      <div class="col d-flex">
        <span>  <a href="https://wa.me/14058629760"> <i class='bx bxl-whatsapp' ></i></a></span>
        <!-- <span>  <a href=""> <i class="bx bx-envelope icon'" ></i></a></span> -->
        <span>  <a href="https://www.facebook.com/share/1Xz7CpdRZ6/?mibextid=LQQJ4d"> <i class='bx bxl-facebook' ></i></a></span>
        <!-- <span>  <a href=""> <i class='bx bxl-telegram' ></i></a></span> -->
        <span>  <a href=" https://t.me/Vestercontainers"> <i class='bx bxl-telegram' ></i></a></span>
        <span>  <a href="https://www.tiktok.com/@vesterbestcontainers?_t=8s4STNshHDq&_r=1"> <i class='bx bxl-tiktok' ></i></a></span>

      </div>
    </div>
  </footer>

    <!-- Custom Script -->
    <script src="/js/slider.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>