<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/forevent.css">
    <link rel="stylesheet" href="/css/niyu.css">

    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-607cc7b2-0857-4911-8285-5b3e00066c41" data-elfsight-app-lazy></div>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- font awesome cdn link  -->
        <!-- font awesome cdn link  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
   
   <div class="navigation">
    <div class="nav-center container d-flex">
      <a href="/" class="logo"><h1>LyContainers</h1></a>

      <ul class="nav-list d-flex">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/event" class="nav-link">Event</a>
        </li>
        <li class="nav-item">
          <a href="/shop" class="nav-link">Shop</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/cart" class="nav-link">Cart</a>
        </li>
        <li class="icons d-flex">
         
          
         
          <a href="/cart" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">0</span>
          </a>
        </li>
      </ul>

      <div class="icons d-flex">
       
       
        
        <a href="/cart" class="icon">
          <i class="bx bx-cart"></i>
          <span class="d-flex">0</span>
        </a>
      </div>

      <div class="hamburger">
        <i class="bx bx-menu-alt-left"></i>
      </div>
    </div>
  </div>
  




     <!-- New Arrivals -->
  <section id="new-arrival" class="section new-arrival">
    <div class="title">
      <h1>FOR EVENT</h1>
      <p>All the latest containers</p>
    </div>

    <div class="product-center">
      
      <% productsevent.forEach(function(product) { %>

      <div class="product-item">
            <video controls>
              <source src="<%= product.image %>" type="video/mp4">
              Your browser does not support the video tag.
          </video>      
       
        <div class="product-info">
          <h4>$<%=  product.price %></h4>
        </div>



        <div class="product-info">
          <button> <a href="https://slycontainers.vercel.app/cartevent/<%= product.id %>">Order</a> </button>
        </div>
        
      </div>

      <% }); %>
    </div>
  </section>
   
   
    <section class="footer" id="footer">

        <div class="box-container">
    
            <div class="box">
                <h3>our branches</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Indionesia </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Japan </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Russia </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
            </div>
    
            <div class="box">
                <h3>quick links</h3>
                <a href="/index.html"> <i class="fas fa-arrow-right"></i> Home </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Trucks </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Services </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Featured </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> Reviews </a>
                <a href="/buy.html"> <i class="fas fa-arrow-right"></i> Contact </a>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <!-- <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a> -->
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="mailto:ooo@gmail.com"> <i class="fas fa-envelope"></i> vibrvester@gmail.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> City - USA - 000000 </a>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <a href=""> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="https://www.tiktok.com/@vesterbestcontainers?_t=8s4STNshHDq&_r=1"> <i class="fab fa-tiktok"></i> Tiktok</a>
                <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
                <a href="https://t.me/Vestercontainers"> <i class="fab fa-telegram"></i> Telegram </a>
                <a href="#"> <i class="fab fa-whatsapp"></i> Whatsapp</a>
            </div>
    
        </div>
    
        <div class="credit"> Inaffiliation with <a href="">Truck Exporter</a> | all rights reserved </div>
    
    </section>
    
    <script src="/js/index.js"></script>
    
</body>
</html>